<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>helloworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>printf使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>scanf函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>变量 copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>打发士大夫撒的.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B25EA701D3376C30007E093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3BFAA31D34CCBD001398BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F0B1D33957A008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F181D3396CC008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F201D3396FA008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F2C1D339733008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F371D339766008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F421D339E3D008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF05F4E1D33AB13008B97CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
